<h1>Categoria <%= @car_category.name %></h1>
<table>
  <thead>
    <tr>
      <th>Diária</th>
      <th>Seguro do veículo</th>
      <th>Seguro de terceiros</th>
    </tr>
    <tr>
      <td><%= @car_category.daily_rate %></td>
      <td><%= @car_category.car_insurance %></td>
      <td><%= @car_category.third_part_insurance %></td>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<%= link_to 'Voltar', car_categories_path %>