<h1>Cadastrar fabricante</h1>

<%= form_for(@manufacturer) do |m| %>
  <%= m.label(:name, 'Nome') %>
  <%= m.text_field(:name) %>
  <%= m.submit('Enviar') %>
<% end %>

<%= link_to 'Voltar', manufacturers_path %>